@use "../../assets/_mixin.scss" as mixin;

@include mixin.b('layout-header') {
    height: 80px;
    font-size: 14px;
    color: #000;

    @include mixin.e('wrapper') {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        height: 80px;
        z-index: 10;
    }






    .writer-header-menu {
        margin-right: 40px;
        cursor: pointer;

        &:hover {
            color: rgb(var(--primary-5));
        }
    }
}