$namespace: 'xhs';
$elementSeparator: '__';
$modifierSeparator: '--';
$state-prefix: 'is-';

/**
  * BEM，定义块（b)
  */
@mixin b($block) {
    $B: $namespace + "-" + $block !global;

    .#{$B} {
        @content;
    }
}

/* 定义元素（e），对于伪类，会自动将 e 嵌套在 伪类 底下 */
@mixin e($element...) {
    $selector: &;
    $selectors: "";

    @if containsPseudo($selector) {
        @each $item in $element {
            $selectors: #{$selectors + "." + $B + $elementSeparator + $item + ","};
        }

        @at-root {
            #{$selector} {
                #{$selectors} {
                    @content;
                }
            }
        }
    }

    @else {
        @each $item in $element {
            $selectors: #{$selectors + $selector + $elementSeparator + $item + ","};
        }

        @at-root {
            #{$selectors} {
                @content;
            }
        }
    }
}



/* 定义状态（m） */
@mixin m($modifier...) {
    $selectors: "";

    @each $item in $modifier {
        $selectors: #{$selectors + & + $modifierSeparator + $item + ","};
    }

    @at-root {
        #{$selectors} {
            @content;
        }
    }
}

/* 对于需要需要嵌套在 m 底下的 e，调用这个混合宏，一般在切换整个组件的状态，如切换颜色的时候 */
@mixin me($element...) {
    $selector: &;
    $selectors: "";

    @if containsModifier($selector) {
        @each $item in $element {
            $selectors: #{$selectors + "." + $B + $elementSeparator + $item + ","};
        }

        @at-root {
            #{$selector} {
                #{$selectors} {
                    @content;
                }
            }
        }
    }

    @else {
        @each $item in $element {
            $selectors: #{$selectors + $selector + $elementSeparator + $item + ","};
        }

        @at-root {
            #{$selectors} {
                @content;
            }
        }
    }
}

/* 状态，生成 is-$state 类名 */
@mixin when($states...) {
    @at-root {
        @each $state in $states {
            &.#{$state-prefix + $state} {
                @content;
            }
        }
    }
}